language: r
cache: packages
env:
  global:
    - ALLOWED_WARNINGS=0
    - ALLOWED_NOTES=0

r_packages:
  - covr
  - pkgdown

r:
#  - oldrel
  - release
#  - devel

script:
  - Rscript -e 'devtools::install(".", upgrade = "never", build_vignettes = TRUE)'
  - ls
  - Rscript -e "inteRgrate::check_pkg(install = FALSE)"
  - ls
  - Rscript -e "inteRgrate::check_r_filenames()"
  - Rscript -e "inteRgrate::check_tidy_description()"
  - Rscript -e "inteRgrate::check_lintr()"
  - Rscript -e "inteRgrate::check_namespace()"


notifications:
  email:
    on_success: change
    on_failure: change

deploy:
  provider: script
  script: Rscript -e 'pkgdown::deploy_site_github()'
  skip_cleanup: true

## Only run covr on release
#after_success:
#  - Rscript -e "if(length(grep('1\$', ${TRAVIS_JOB_NUMBER}))) covr::codecov()";


